$c-laranja: #DE8F75;
$c-azulCinza: #5F75AA;
$c-cinzaAzul: #AEB6C1;
$c-magenta: #A9095E;
$c-ciano: #2A5A75;
$c-preto: #000000;
$c-branco: #FFFFFF;
$c-verde: #32917B;
$c-vermelho: #E35442;
$c-cinza0: #F2F2F2;
$c-cinza1: #EBEBEB;
$c-cinza2: #E3E3E3;
$c-cinza3: #CCCCCC;
$c-cinza4: #ADADAD;
$c-cinza5: #7F7F7F;
$c-cinza6: #686868;
$c-cinza7: #202020;

$f-12: 12px;
$f-14: 14px;
$f-16: 16px;
$f-18: 18px;
$f-20: 20px;
$f-26: 26px;