$laranja: #DE8F75;
$azulCinza: #5F75AA;
$cinzaAzul: #AEB6C1;
$magenta: #A9095E;
$ciano: #2A5A75;
$preto: #000000;
$branco: #FFFFFF;
$verde: #32917B;
$cinza0: #F2F2F2;
$cinza1: #EBEBEB;
$cinza2: #E3E3E3;
$cinza3: #CCCCCC;
$cinza4: #ADADAD;
$cinza5: #7F7F7F;
$cinza6: #686868;
$cinza7: #202020;
