@import "variaveis";

.Logo{
  text-align: center;
}
.navbarContainer{
  border-top: 0.7px solid $c-cinza3;
  border-bottom: 0.7px solid $c-cinza3;
  .navbar{
    display: flex;
    color: $c-cinza6;
    align-items: center;
    justify-content: space-between;
    .clicavel{
      text-decoration: none;
      color: $c-cinza6;
      &:hover{
        color: $c-preto;
      }
    }
    .login {
      white-space: nowrap;
      font-size: $f-12;
      margin-left: 25px;
      .separador {
        margin-left: 6px;
        margin-right: 6px;
      }
    }
    .menu {
      text-transform: uppercase;
      font-size: $f-14;
      text-align: center;
      flex-grow: 2;
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
          display: inline;
        }
        li + li{
          margin-left: 45px;
        }
      }
    }
    .buscaCarrinho{
      display: flex;
      align-items: center;
      margin-right: 25px;
      .busca{
        display: flex;
        align-items: center;
        &:hover{
          cursor: text;
        }
        img{
          padding-bottom: 2px;
          border-bottom: 1px solid $c-cinza2;
        }
        input{
          border: none;
          border-bottom: 1px solid $c-cinza2;
          height: 21px;
          display: inline-block;
          font-size: $f-12;
          &:focus{
            outline: none;
          }
        }
      }
      .carrinho{
        font-size: $f-12;
        margin-left: 30px;
      }
    }
  }
}
