@import "variaveis";

.Produto{
  display: flex;
  justify-content: space-around;
  .carrosselContainer{
    display: flex;
    .fotosVideo{
      .video{
        p{
          text-align: center;
          font-size: $f-12;
          color: $c-laranja;
          line-height: 16px;
        }
        .videoButtonContainer{
          position: relative;
          .play{
            position: absolute;
            left: 23.5px;
            top: 6.42px;
          }
        }
      }
      .carrossel{
        margin-top: 10px;
        img{
          display: block;
          margin: auto;
        }
        .controleCarrossel{
        }
        .imagens{
          margin: 21px 0;
          .imagemCarrossel{
            margin-bottom: 9px;
            opacity: .5;
          }
          .ativo{
            opacity: 1;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    .imagem{
      margin-left: 56px;
      img{
        width: 430px;
        height: 556px;
      }
    }
  }
  .descricao{
    width: 440px;
    border: 2px solid #D2E1DF;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 20px 19px 15px 20px;
    font-size: $f-14;
    height: fit-content;
    .selecaoAtual{
      color: $c-azulCinza;
      margin-left: 10px;
    }
    .nome{
      text-transform: uppercase;
      font-weight: bold;
      font-size: $f-26;
    }
    .codigo{
      color: $c-cinza7;
    }
    .preco{
      margin-top: 24px;
      .precoDesconto{
        font-size: $f-14;
        color: $c-vermelho;
        text-decoration: line-through;
        &:after{
          content: "";
          border-right: 1px solid $c-vermelho;
          padding-left: 3px;
        }
      }
      .precoAtual{
        font-size: $f-20;
        color: $c-cinza6;
        font-weight: bold;
        margin-left: 8px;
      }
      .parcelas{
        display: block;
        font-size: $f-12;
        color: $c-cinza5;
      }
    }
    .cor{
      margin-top: 34px;
      .coresDisponiveis{
        display: block;
        margin-top: 10px;
        .divCor{
          display: inline-block;
          width: 23px;
          height: 23px;
          border-radius: 100%;
          border: 1px solid $c-branco;
          margin-right: 14px;
        }
        .ativo{
          box-shadow: 0 0 0 2px $c-laranja;
        }
      }
    }
    .tamanho{
      margin-top: 20px;
      .guia{
        color: $c-laranja;
        text-decoration: underline;
        float: right;
        margin-right: 58px;
      }
      .tamanhosDisponiveis{
        display: block;
        margin: 15px 0;
        .divTamanho{
          display: inline;
          padding: 7px 8px 4px 9px;
          margin-right: 3px;
          border: 1px solid $c-cinza1;
          color: $c-azulCinza;
          border-radius: 2px;
        }
        .ativo{
          font-weight: bold;
          color: $c-branco;
          background-color: $c-laranja;
        }
      }
    }
    .botaoGrande{
      margin-top: 53px;
      font-size: $f-18;
      padding: 21px 0px;
    }
    .descricaoProduto{
      margin-top: 15px;
      margin-bottom: 0;
      line-height: 200%;
    }
  }
}
.ReactModalPortal{
  .caixaModal{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 62px;
    text-align: center;
    box-sizing: border-box;
    width: 445px;
    background-color: $c-branco;
    display: block;
    border-radius: 3px;
    .controle{
      text-align: right;
      padding-top: 16.8px;
      padding-right: 19.83px;
      .fechar{
        path{
          fill: $c-azulCinza
        }
      }
    }
    .conteudo{
      padding: 17px 70px 23px 70px;
      img{
        width: 305px;
        height: 358.65px;
      }
      .titulo{
        font-size: $f-22;
        color: $c-laranja;
        text-transform: uppercase;
      }
      .botaoGrande{
        font-size: $f-14;
        line-height: 20px;
        padding: 15.5px 0px;
      }
      .continuar{
        font-size: $f-14;
        text-decoration: underline;
        color: $c-cinzaAzul;
      }
    }
    &:focus{
      outline: none;
    }
  }
}